@page
@model UI.Pages.AboutUsModel
@{
}

<div>
    <h1> About Dynamic Music Library </h1>
    <br />
    <br />

    <h2> What is Dynamic Music Library? </h2>
    <p1> Dynamic Music Library is a C# based software designed for music organizations to easily catalog their musical literature. Specifically the 
        goal of this software is to allow pre-existing excel or CSV files to be used to create a simple and easy to navigate virtual library, with the
        ability to start completely from scratch!
    </p1>

</div>
