@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dynamic Music Library</h1>

    <img src="~/mason_is_kazez.jpg"/>
</div>
