@page
@model UI.Pages.SettingsPageModel
@{
}

<div>
    <h1> Settings </h1>

    <button> Placeholder One </button>
    <button> Placeholder Two </button>
    <button> Placeholder Three </button>
    <button> Placeholder Four </button>


</div>
